<h1>Meme Show</h1>
<div class="meme-container">
  <img src="<%= @meme.img_url %>">
  <h3><%= @meme.title %></h3>
  <p><%= @meme.body %></p>
  <%= link_to "Delete", meme_path(@meme.id), method: "Delete" %>
  <%= link_to "Edit", edit_meme_path(@meme.id) %>
</div>