<h1>Meme Show</h1>
<div class="meme-container">
  <%= image_tag(S3_BUCKET.object(@meme.meme_img.key).public_url) if @meme.meme_img.attached? %>
  <h3><%= @meme.title %></h3>
  <p><%= @meme.body %></p>
  <% if can?(:crud, @meme)%>
    <%= link_to "Delete", meme_path(@meme.id), method: "Delete" %>
    <%= link_to "Edit", edit_meme_path(@meme.id) %>
  <% end %>
</div>