<!DOCTYPE html>
<html>
  <head>
    <title>GotGovt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <%= image_tag("stark_sigil", class: "stark-logo")%>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tourism</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Enemies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pay taxes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Our govt leaders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Documents</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Create User</a>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
    <footer>
  </body>
</html>
<%# If a user belongs to the North, whitewalker alert %>
<%# If a user is from Essos, alert forces %>
